<IfModule mod_rewrite.c>
     <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>
    # Disable Apache's default directory file searching
    DirectoryIndex disabled
    RewriteEngine On
    # Redirect non-www to www
    RewriteCond %{HTTP_HOST} ^adublisher\.com$ [NC]
    RewriteRule ^(.*)$ https://www.adublisher.com/$1 [L,R=301]
    RewriteCond %{REQUEST_FILENAME} !-f
    # And if the request is not for a real directory
    RewriteCond %{REQUEST_FILENAME} !-d
    # Then route it through index.php
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>